<!-- Footer -->
<footer id="footer">
    <ul class="icons">
        {{ range .Site.Params.share }}
            <li><a href="{{ .link }}" class="icon brands {{ .icon }}"><span class="label">{{ .title }}</span></a></li>
        {{ end }}
    </ul>
    <ul class="copyright">
        {{ with .Site.Params.copyright }}
        <li>{{ . | markdownify }}</li>
        {{ end }}
        {{ with .Site.Params.design }}
        <li>{{ . | markdownify }}</li>
        {{ end }}
        {{ with .Site.Params.author }}
        <li>{{ . | markdownify }}</li>
        {{ end }}
    </ul>
</footer>

<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  tex2jax: {
    inlineMath: [['$','$'], ['\\(','\\)']],
    displayMath: [['$$','$$'], ['\[','\]']]
    }
});
</script>

<script type="text/javascript"
  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>